In [2]:
import matplotlib as mpl
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from __future__ import division
%matplotlib inline
mpl.rc('figure', figsize=[12,8])  #set the default figure size
import itertools, random, math

In [4]:
df = pd.read_csv('./arrhythmia.csv', header=None, na_values="?")

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [8]:
df.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            270, 271, 272, 273, 274, 275, 276, 277, 278, 279],
           dtype='int64', length=280)

In [11]:
# Find the values of the class variable (the Y value)
set(df.iloc[:,279])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 16}

In [12]:
# Find the number of examples for each class
df.iloc[:,279].value_counts()

1     245
10     50
2      44
6      25
16     22
4      15
3      15
5      13
9       9
15      5
14      4
7       3
8       2
Name: 279, dtype: int64

In [15]:
# Replace each missing value with the mode
#
# The preferred pandas function for finding missing values is isnull()
for i in range(280):
    if df[i].isnull().sum() > 0:
        print(i)
        df.iloc[:,i].fillna(df[i].mode()[0], inplace=True)

10
11
12
13
14

In [109]:
# Create small data set to use for debugging and testing
dsmall = df.iloc[0:10, list(range(3)) + [279]]

In [110]:
dsmall

   0    1    2    279
0   75    0  190    8
1   56    1  165    6
2   54    0  172   10
3   55    0  175    1
4   75    0  190    7
5   13    0  169   14
6   40    1  160    1
7   49    1  162    1
8   44    0  168    1
9   50    1  167   10

In [125]:
class Node(object):
    def __init__(self):
        self.name = None
        self.node_type = None
        self.label = None
        self.data = None
        self.split = None
        self.children = []
        
    def __repr__(self):
        data = self.data
        if self.node_type != 'leaf':
            s = (f"{self.name} Internal node with {data[data.columns[0]].count()} rows; split" 
                f" {self.split.split_column} at {self.split.point:.2f} for children with" 
                f" {[p[p.columns[0]].count() for p in self.split.partitions()]} rows"
                f" and infomation gain {self.split.info_gain:.5f}")
        else:
            s = (f"{self.name} Leaf with {data[data.columns[0]].count()} rows, and label"
                 f" {self.label}")
        return s
                                    
class Split(object):
    def __init__(self, data, class_column, split_column, point=None, subset=None):
        self.data = data
        self.class_column = class_column
        self.split_column = split_column
        self.info_gain = None
        self.point = point
        self.partition_list = None # stores the data points on each side of the split
        self.compute_info_gain()
        
    def compute_info_gain(self):
        
        # WRITE YOUR CODE HERE

        return

    def partitions(self):
        '''Get the two partitions (child nodes) for this split.'''
        if self.partition_list:
            # This check ensures that the list is computed at most once.  Once computed 
            # it is stored
            return self.partition_list
        data = self.data
        split_column = self.split_column
        partition_list = []
        partition_list.append(data[data[split_column] <= self.point])
        partition_list.append(data[data[split_column] > self.point])
        self.partition_list = partition_list
        return partition_list

In [3]:
class DecisionTree(object):

    def __init__(self, max_depth=None):
        if (max_depth is not None and (max_depth != int(max_depth) or max_depth < 0)):
            raise Exception("Invalid max depth value.")
        self.max_depth = max_depth
        

    def fit(data, class_column):
        '''Fit a tree on data, in which class_column is the target.'''
        if (not isinstance(data, pd.DataFrame) or class_column not in data.columns):
            raise Exception("Invalid input")
            
        self.data = data
        self.class_column = class_column
        self.non_class_columns = [c for c in data.columns if 
                                  c != class_column]
        self.root = self.recursive_build_tree(data, depth=0, name='0')
            
    def recursive_build_tree(self, data, depth, name):

        # WRITE YOUR CODE HERE

    
    def predict(self, test):
        pass
    
    def print(self):
        self.recursive_print(self.root)
    
    def recursive_print(self, node):
        print(node)
        for u in node.children:
            self.dfs_recursive(u)

IndentationError: expected an indented block (<ipython-input-3-3ab1ded677da>, line 25)

In [4]:
tree = tree = DecisionTree(3)
tree.fit(dsmall, 279)
tree.print()

# For above your should get the following
# 0 Internal node with 10 rows; split 0 at 55.50 for children with [7, 3] rows and gain 0.88129
# 0.0 Internal node with 7 rows; split 0 at 26.50 for children with [1, 6] rows and gain 0.59167
# 0.0.0 Leaf with 1 rows, and label 14
# 0.0.1 Internal node with 6 rows; split 0 at 49.50 for children with [3, 3] rows and gain 0.45915
# 0.0.1.0 Leaf with 3 rows, and label 1
# 0.0.1.1 Leaf with 3 rows, and label 10
# 0.1 Internal node with 3 rows; split 0 at 65.50 for children with [1, 2] rows and gain 0.91830
# 0.1.0 Leaf with 1 rows, and label 6
# 0.1.1 Leaf with 2 rows, and label 7
#

NameError: name 'DecisionTree' is not defined

In [5]:
def validation_curve():
    
    # WRITE YOUR CODE HERE

SyntaxError: unexpected EOF while parsing (<ipython-input-5-f3986fa10078>, line 4)